ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
	float: center;
}

a{
    display: block;
    padding: 8px;
    background-color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: lightgray;
}

active {
	background-color: yellow;
}

li {
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}

body {
	background-image: url("http://www.slate.com/content/dam/slate/articles/arts/brow_beat/2016/02/gospel_according_to_kanye/160209_BB_Kanye-Gospel.jpg.CROP.promo-xlarge2.jpg");
	background-repeat: repeat;
}

#button {
	background-color: black;
	width: 50px;
	height: 40px;
	border-color: black;
}
