table {
	color: black;
	border-color: black
}


.English {
	background-color: lightblue;
}

.Science {
	background-color: lightgreen;
}

.none {
	background-color: black;
}

.History {
	background-color: orange;
}

.Math {
	background-color: pink;
}

.Religion {
	background-color: blueviolet;
}

.ComputerProgramming {
	background-color: crimson;

}

.French {
	background-color: yellow;
}

.Architecture {
	background-color: MediumSlateBlue
}

.Gym {
	background-color: MediumOrchid
}

.Lunch {
	background-color: tomato
}

h1 {
	text-align: center;
	font-weight: bold;                                                                                                                                    
}
* {
  margin: 0;
  padding: 0;
}

#loading-outer {
  position: absolute;
  height: 120px;
  width: 400px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
}
#loading-outer #loading-inner {
  position: absolute;
  width: 266px;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
#loading-outer #loading-inner .dot {
  position: relative;
  height: 46px;
  width: 46px;
  border: 2px solid #f0f;
  border-radius: 100%;
  display: inline-block;
  background: #2af;
  opacity: 0.5;
  -webkit-animation-name: animAllDots;
          animation-name: animAllDots;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}
#loading-outer #loading-inner .dot:after {
  content: " ";
  display: block;
  position: absolute;
  height: 16px;
  width: 16px;
  left: 50%;
  border: 2px solid #333;
  margin-left: -10px;
  top: 0px;
  background: #fff;
  border-radius: 100%;
}
#loading-outer #loading-inner .dot:nth-child(1) {
  -webkit-animation-name: animFirstDot;
          animation-name: animFirstDot;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
#loading-outer #loading-inner .dot:nth-child(2) {
  -webkit-animation-name: animDot2;
          animation-name: animDot2;
}
#loading-outer #loading-inner .dot:nth-child(3) {
  -webkit-animation-name: animDot3;
          animation-name: animDot3;
}
#loading-outer #loading-inner .dot:nth-child(4) {
  -webkit-animation-name: animDot4;
          animation-name: animDot4;
}
#loading-outer #loading-inner .dot:nth-child(5) {
  -webkit-animation-name: animDot5;
          animation-name: animDot5;
}
@-webkit-keyframes animFirstDot {
  0%,
  20% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.5;
  }
  45% {
    -webkit-transform: translate(0, -60px) rotate(0deg);
            transform: translate(0, -60px) rotate(0deg);
    opacity: 1;
  }
  70% {
    -webkit-transform: translate(216px, -60px) rotate(360deg);
            transform: translate(216px, -60px) rotate(360deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(216px, 0);
            transform: translate(216px, 0);
    opacity: 0.5;
  }
}
@keyframes animFirstDot {
  0%,
  20% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.5;
  }
  45% {
    -webkit-transform: translate(0, -60px) rotate(0deg);
            transform: translate(0, -60px) rotate(0deg);
    opacity: 1;
  }
  70% {
    -webkit-transform: translate(216px, -60px) rotate(360deg);
            transform: translate(216px, -60px) rotate(360deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(216px, 0);
            transform: translate(216px, 0);
    opacity: 0.5;
  }
}
@-webkit-keyframes animDot2 {
  0%,
  40% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  60%,
  100% {
    -webkit-transform: translate(-54px, 0);
            transform: translate(-54px, 0);
  }
}
@keyframes animDot2 {
  0%,
  40% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  60%,
  100% {
    -webkit-transform: translate(-54px, 0);
            transform: translate(-54px, 0);
  }
}
@-webkit-keyframes animDot3 {
  0%,
  45% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  65%,
  100% {
    -webkit-transform: translate(-54px, 0);
            transform: translate(-54px, 0);
  }
}
@keyframes animDot3 {
  0%,
  45% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  65%,
  100% {
    -webkit-transform: translate(-54px, 0);
            transform: translate(-54px, 0);
  }
}
@-webkit-keyframes animDot4 {
  0%,
  50% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  70%,
  100% {
    -webkit-transform: translate(-54px, 0);
            transform: translate(-54px, 0);
  }
}
@keyframes animDot4 {
  0%,
  50% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  70%,
  100% {
    -webkit-transform: translate(-54px, 0);
            transform: translate(-54px, 0);
  }
}
@-webkit-keyframes animDot5 {
  0%,
  55% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  75%,
  100% {
    -webkit-transform: translate(-54px, 0);
            transform: translate(-54px, 0);
  }
}
@keyframes animDot5 {
  0%,
  55% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  75%,
  100% {
    -webkit-transform: translate(-54px, 0);
            transform: translate(-54px, 0);
  }
}
