table {
	color: black;
	border-color: black;
	background-color: white;
}

.English {
	background-color: lightblue;
}

.Science {
	background-color: lightgreen;
}

.none {
	background-color: black;
}

.History {
	background-color: orange;
}

.Math {
	background-color: pink;
}

.Religion {
	background-color: blueviolet;
}

.ComputerProgramming {
	background-color: crimson;

}

.French {
	background-color: yellow;
}

.Architecture {
	background-color: MediumSlateBlue
}

.Gym {
	background-color: MediumOrchid
}

.Lunch {
	background-color: tomato
}

h1 {
	text-align: center;
	font-weight: bold;    
}

#SearchBar {
	width: 14%;
	border: 4px solid;
	font-size: 22px;
	background-color: MediumSlateBlue;
}

#myInput {
	font-size: 22px;
	border: 4px solid;
	width: 85%;
	text-align: left;
	font-family: Arial;
	background-color: LightBlue;
}

body {
	background-color: orangered;
}
